*.gem
*.rbc
.bundle
.config
.yardoc
.ruby-version
InstalledFiles
_yardoc
coverage
public/js/*.js*
public/css/*.css*
node_modules/
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
*.log
