!!!
%html
	%head
		%meta{charset: 'UTF-8'}
		%meta{name: "viewport", content: "width=device-width,initial-scale=1"}
		%title BOOKSCAN Premium Optimizer
		%link{rel:"stylesheet", href:"/css/list.css", media:"all"}
	%body{id: booklist_id}
		#contents
		%script{src: "/js/list.js"}
